# top-most EditorConfig file.
root = true

# Unix-style newlines and UTF-8 for all files.
[*]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8
max_line_length = 100
indent_size = 4
indent_style = space

# Keep it the same as value of "formatting.ImportOrdering.layout" in detekt.yml.
ij_kotlin_imports_layout = *

# 2 space indentation for Kotlin and Java.
# noinspection EditorConfigKeyCorrectness
[{*.kt,*.kts,*.java}]
indent_size = 2
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ktlint_code_style = ktlint_official
ktlint_standard = enabled
ktlint_experimental = enabled
ktlint_standard_function-signature = enabled
ktlint_standard_class-signature = enabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_function_signature_wrapping_rule_always_with_minimum_parameters = 1
ktlint_function_signature_body_expression_wrapping = default

# 2 space indentation for Yaml.
[{*.yaml,*.yml}]
indent_size = 2

# 2 space indentation for Markdown.
[*.md]
indent_size = 2

# 2 space indentation for HTML/XML.
[{*.htm,*.html,*.xml}]
indent_size = 2
